.header-main {
  align-items: center;
  background-color: #383838;
  display: flex;
  font-size: 1.2em;
  height: 10vh;
  justify-content: space-between;
}

.header-title {
  align-items: center;
  color: white;
  display: flex;
  margin: 0 60px;
}

.title {
  display: flex;
}

.title-green {
  color: #588157;
}

.info-container {
  display: flex;
  margin: 0 30px;
}

.user-info {
  align-items: center;
  color: white;
  display: flex;
  margin-right: 30px;
}

.wallet-info {
  align-items: center;
  color: white;
  display: flex;
  margin-right: 30px;
}

.wallet-span {
  padding-right: 5px;
}

img {
  margin-right: 15px;
  width: 50px;
}

.icon {
  margin-right: 5px;
}

@media screen and ( max-width : 768px ) {

  .header-main {
    align-items: center;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    height: fit-content;
    justify-content: space-between;
    padding-bottom: 25px;
    width: 100vw;
  }
}
